<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs')%>
  <body>
    <%messages.map((val)=>{%>
    <h3><%=val.username%></h3>
    <p><%=val.text%></p>
    <a href=<%="/messages/".concat(val.id) %>>
      <button>details</button>
    </a>
    <%})%>
    <hr>
    <a href="/new">
        <button>Write a message</button>
    </a>
  </body>
</html>
